<div class="left_block">
    <% counter = 0 %>
    <% @programs.each do |program| %>
    
      <div class="program">
        <% if counter == 0 %>

            <img src="assets/green-line.png"/>
            <h1 class="indentation-left"><%= program.name %></h1>
            <hr>
            <p class="indentation-left">
              <%= program.short_description %>
            </p>
            <p class="indentation-left">
              <%= image_tag(program.program_images.first.attachment.url(:original), :width => '609px', :height => '218px') unless program.program_images.blank? %>
            </p>
            <p>
              <%#= link_to "ver más >>", program_path(program.id) %>
            </p>

        
        <% elsif counter == 1 %>
          <img src="assets/green-line.png"/>
          <h1 class="indentation-left"><%= program.name %></h1>
          <hr class="division">
          <div class="programs1">
            <% program.program_images.each do |image| %>
              <div class="left">
                <%= image_tag(program.program_images.first.attachment.url(:original), {:class => "indentation-left image-program", :width => '130px'}) unless program.program_images.blank? %>
              </div>
              <div class="right close-to-previous">
                <img src="assets/imagen_5.png" class="image-program" style="width: 230px;"/>
                <p class="second">
                  <%= program.short_description %>
                </p>
              </div>
              <div style="clear:both"></div>
            <% end %>
          </div>
        <% elsif counter == 2 %> 
          <div class="program">
            <img src="assets/green-line.png"/>
            <h1 class="indentation-left"><%= program.name %></h1>
            <hr class="division">
            <div class="programs1">
              <div class="left">
                <%= image_tag(program.program_images.first.attachment.url(:original), {:class => "indentation-left image-program", :width => '200px'}) unless program.program_images.blank? %>
              </div>
              <div class="right close-to-previous">
                <img src="assets/imagen_5.png" class="image-program" style="width: 300px;"/>
                <p class="second">
                  <%= program.short_description %>
                </p>
              </div>
              <div style="clear:both"></div>
            </div>
          </div>

        <% end %>
        <% counter += 1 %>
      </div>
    <% end %>
    

  </div>