<p>
Estimado David, 
</p>    
<p>
  <%= @contact_us.full_name %> se ha contactado contigo con la siguiente información:
</p>
<p>
  <table border="0">
    <tr>
      <td>
        E-mail: 
      </td>                               
      <td><%= @contact_us.email %></td>
    </tr>
    <tr>
      <td>
        País:
      </td>                    
      <td><%= @contact_us.country %></td>
    </tr>
    <tr>
      <td>
        Ciudad:
      </td>                    
      <td><%= @contact_us.city %></td>
    </tr>
    <tr>
      <td>
        Provincia
      </td>                    
      <td><%= @contact_us.province %></td>
    </tr>
    <tr>
      <td>
        Programa:
      </td>                    
      <td>
        <% if @contact_us.program_id == 100 %>
          Otro
        <% else %>
          <%= @contact_us.program.name if !@contact_us.program.nil? %>
        <% end %>
      </td>
    </tr>                   
    <tr>
      <td>
        Su inquietud es:
      </td>                   
      <td><%= @contact_us.body %></td>
    </tr>
  </table>          
</p>