<%= javascript_include_tag 'ckeditor/ckeditor' %>
<div class="form">
<p>
  <span class="req">max 100 caracteres</span>
  <label>Name <span>(Required Field)</span></label>
  <%= form.text_field :name, :class => "field size1" %>
</p>	
<p>
  <label>Meta Keywords<span>(Separados por coma.)</span></label>
  <%= form.text_area :meta_keywords, :class => "field size4" %>
</p>
<p>
  <span class="req">max 255 caracteres</span>
  <label>Short Description <span>(Homepage)</span></label>
  <%= form.text_area :short_description, :class => "field size1" %>
</p>  
<p>
  <label>Long Description</label>
  <%= form.cktext_area :description, :class => "field size4" %>
</p>	

  <%= form.fields_for :main_image do |program_image|%>
    <div class="program_image">
     <label>Main Image(609x218)</label>
      <p>
        <%= program_image.file_field :attachment %>
      </p>
    </div>
  <% end %>
 
<div class="form">
    <table>
      <tr>
        <td><label>Select layout for homepage</label></td>
        <td>&nbsp;</td>
        <td>
          1 <%= form.radio_button :type_of_layout, true %>
          2 <%= form.radio_button :type_of_layout, false %>
        </td>
      </tr>
    </table>
  
</div>


<p>
  <label>Other Images</label><%= link_to "Add Image", "javascript:void(0);", :class => "add_new_image" %>
</p>
  <%= form.fields_for :program_images do |program_image|%>
    <div class="program_image">
      <p>
        <%= program_image.file_field :attachment %>
        <% if File.exist?("#{program_image.object.attachment.path}") %>
          <%= image_tag(program_image.object.attachment.url, :width=>'75px') %>
        <% end %>
      </p>
    </div>
  <% end %>

<%#*<p class="inline-field">%>
        <%#*<label>Date</label>%>
        <%#*<select class="field size2">%>
                <%#*<option value="">23</option>%>
        <%#*</select>%>
        <%#*<select class="field size3">%>
                <%#*<option value="">July</option>%>
        <%#*</select>%>
        <%#*<select class="field size3">%>
                <%#*<option value="">2009</option>%>
        <%#*</select>%>
<%#*</p>%>

        
</div>