<!-- Small Nav -->
<div class="small-nav">
        <a href="#">Dashboard</a>
        <span>&gt;</span>
        Programa
</div>
<!-- End Small Nav -->

<!-- Message Error -->
<% if @program.errors.any? %>
  <div class="msg msg-error">
     <% @program.errors.full_messages.each do |msg| %>
       <p><strong><%= msg %></strong></p>
     <% end %>
  </div>
<% end %>
<!-- End Message Error -->
<br />
<!-- Main -->
<div id="main">
  <div class="cl">&nbsp;</div>

  <!-- Content -->
  <div id="content">
    <!-- Box -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
              <h2>Añadir nuevo prorama</h2>
      </div>
      <!-- End Box Head -->
      <%= form_for([:admin, @program]) do |f| %>
        <%= render :partial => "form", :object => f %>
        <div class="buttons">
            <%= f.submit "Grabar" %>
            <%= link_to "Cancelar", admin_programs_path %>
        </div>
      <% end %>
    </div>
    <!-- End Box -->
  </div>
  <!-- End Content -->
  <!-- Sidebar -->
  <div id="sidebar">
      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2>Manejo</h2>
        </div>
        <!-- End Box Head-->
        <div class="box-content">
          <%= link_to(content_tag(:span, "Añadir programa"), new_admin_program_path, :class => 'add-button') %>
          
        </div>
      </div>
      <!-- End Box -->
    </div>
  <!-- End Sidebar -->

  <div class="cl">&nbsp;</div>			
</div>
<!-- Main -->
	