<!-- Small Nav -->
<div class="small-nav">
        <a href="#">Dashboard</a>
        <span>&gt;</span>
        Program
</div>
<!-- End Small Nav -->

<br />
<!-- Main -->
<div id="main">
        <div class="cl">&nbsp;</div>

        <!-- Content -->
        <div id="content">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2 class="left"><%= @program.name %></h2>
              <div class="right">
                <%= link_to 'Eliminar', admin_program_path(@program), :confirm => 'Est치s seguro?', :method => :delete, :class => 'ico del', :title => 'Eliminar programa'%>
                <%= link_to 'Editar', edit_admin_program_path(@program), :class => 'ico edit', :title => 'Editar programa' %>
              </div>
            </div>
            <!-- End Box Head -->
            
            <dl class="show">
          		<dt>Descripci칩n</dt>
          		<dd><%= @program.description.html_safe %></p></dd>
          		<dt>Descripci칩n corta (Homepage)</dt>
              <dd><%= @program.short_description %></p></dd>
          		<dt>Precio</dt>
          		<dd><%= @program.price %></p></dd>
          		<% if !@program.program_images.blank? %>
            		<dt>Image</dt>
            		<dd><%= image_tag(@program.program_images.first.attachment.url(:original), :width=>'250px') %></dd>
          		<% end %>
            </dl>
            
          </div>
          <!-- End Box -->
        </div>
        <!-- End Content -->
        <!-- Sidebar -->
        <div id="sidebar">
          <!-- Box -->
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2>Management</h2>
            </div>
            <!-- End Box Head-->
            <div class="box-content">
              <%= link_to(content_tag(:span, "A침adir programa"), new_admin_program_path, :class => 'add-button') %>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          <!-- End Box -->
        </div>
        <!-- End Sidebar -->

        <div class="cl">&nbsp;</div>			
</div>
<!-- Main -->
	