<div class="large-12 columns">     
  <table width="460" cellspacing="0" cellpadding="0" border="0" align="center" class="boat_statistics">
     <tbody><tr>
       <td width="148"><p><strong>Nombre Completo:</strong></p></td>
       <td width="292"><p><%= form.text_field :full_name, :class => "field size1" %></p></td>
     </tr>
     <tr>
       <td><p><strong>E-mail:</strong></p></td>
       <td><p><%= form.text_field :email, :class => "field size1" %></p></td>
     </tr>
     <tr>
       <td><p><strong>País:</strong></p></td>
       <td><p> <%= form.country_select(:country, ["Ecuador"]) %></p></td>
     </tr>
     <tr>
       <td><p><strong>Ciudad:</strong></p></td>
       <td><p><%= form.text_field :city, :class => "field size1"  %></p></td>
     </tr>
     <tr>
       <td><p><strong>Provincia:</strong></p></td>
       <td><p><%= form.text_field :province, :class => "field size1"  %></p></td>
     </tr>
     <tr>
       <td><p><strong>Información de su interés:</strong></p></td>
       <td>
         <p>
            <%= form.select :program_id, options_for_interests.map { |program| [program[1], program[0]]}, {:include_blank => true}, {} %> 
         </p>
       </td>
     </tr>
     <tr>
        <td><p><strong>Explíquenos su inquietud:</strong></p></td>
        <td><p><%= form.text_area :body, {:rows => 10} %></p></td>
      </tr>
   </tbody></table>
</div>