<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
    <meta content="<%= @keywords %>" name="keywords">
    <meta content="FoodCon asesora a su pequeño, mediano o grande negocio en l abuena práctica de manejo de alimentos." name="description">
    <!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width" />
    

  	<title>FoodCon: <%= @title %></title>
    
    <%= stylesheet_link_tag    "style.css" %>
    <%= stylesheet_link_tag    "foundation.css" %>
    <% if controller.controller_name == "homepage" && controller.action_name == "index" %>
      <%#= stylesheet_link_tag    "carousel.css" %>
    <% end %>
    
    <%#= javascript_include_tag "custom.modernizr.js" %>
    
		
  	<%#= csrf_meta_tags %>
  	
  </head>

  <body>
    <!--Facebook code goes here -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook code -->
    <div class="container">
      <!-- Top Bar -->
        <%= render :partial => "layouts/top_bar"%>
      <!-- End Top Bar --> 
      

      <div class="main-content">
        <div class="row">
			<div class=" large-9 columns">
	    	    <%= yield %>
	        </div>
        
			<div class=" large-3 columns">
		        <%= form_for([@contact_us], :url => contact_us_path) do |f| %>
		          <%= render :partial => "/contact_us/form", :object => f %>
		        <% end %>
	        </div>
        
        </div>
      </div>
    

      <footer>
        <div class="row container-footer">
				<div class=" large-5 columns">
		          <div class="footer-menu">
		            <ul>
		              <li><a href="#">Inicio</a></li>
		              <li><a href="#">Servicios</a></li>
		              <li><a href="#">Cursos</a></li>
		              <li><a href="#">Desarrollo de Productos</a></li>
		              <li><a href="#">Nosotros</a></li>
		            </ul>
		          </div>
		        </div>
				<div class=" large-3 columns">
		          <div class="contact-us">
		            <h1>Contacto</h1>
		            <div class="address">
		              <p>De los Guayabos N34-23 y Alamos · Sector Solca</p>
		              <p>Teléfonos: (00593) · 0943234567 - 345675433</p>
		              <p>e-mail: info@foodcon.net</p>
		              <p>Web: www.foodcon.net</p>
		            </div>
		          </div>
		        </div>
				<div class=" large-4 columns">
		          <div class="social-links">
		            <div class="twitter">
		              <a href="https://www.facebook.com/pages/Foodcon/300068603454072?fref=ts"><img src="assets/twitter.png"  /></a>
		            </div>
		            <div class="facebook">
		              <a href="https://www.facebook.com/pages/Foodcon/300068603454072?fref=ts"><img src="assets/facebook.png"  /></a>
		              <div class="panel">
		                <!--Facebook code -->  
		                <div class="fb-like" data-href="https://www.facebook.com/pages/Food-Consulting/300068603454072?ref=ts&amp;fref=ts" data-send="false" data-width="170" data-show-faces="true"></div>
		                <!-- End Facebook code -->
		              </div>
		            </div>
		          </div>  
        </div>
      </footer>
    </div>
    <% if Rails.env.production? %>
      <!-- ================================================================
        Google Analytics
        ============================================================== -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
        ga('create', 'UA-40886584-1', 'foodcon.net');
        ga('send', 'pageview');
      
      </script>
      <!-- ================================================================
        End Google Analytics
        ============================================================== -->
    <% end %>
  
  
  <% if controller.controller_name == "homepage" && controller.action_name == "index" %>
    <%= javascript_include_tag "js/jquery-1.7.min.js" %>
    <%= javascript_include_tag "jquery.featureCarousel.js" %>
        <script type="text/javascript">
        $(document).ready(function() {
          var carousel = $("#carousel").featureCarousel({
            // include options like this:
            // (use quotes only for string values, and no trailing comma after last option)
            // option: value,
            // option: value
          });

          $("#but_prev").click(function () {
            carousel.prev();
          });
          $("#but_pause").click(function () {
            carousel.pause();
          });
          $("#but_start").click(function () {
            carousel.start();
          });
          $("#but_next").click(function () {
            carousel.next();
          });
        });
      </script>
    <% end %>
    <%= content_for :page_specific_javascript %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "foundation.min.js" %>
    <script type="text/javascript">
            $(document).foundation();
    </script>
  </body>
</html>
